@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

/** Globales **/

html {
    font-size: 62.5%; /** 1rem = 10px **/
}

body {
    font: 1.8rem "nunito", sans-serif;
    color: black;
    min-height: 100vh;
    padding: 2rem;
    display: flex;  
    justify-content: center;
    align-items: center;
    margin: 0;

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}
 
/** Profile Card **/

@media (max-width: 767px) { 
    .profile-card {
        box-shadow: 0 18px 200px -60px rgba;
        border-radius: 5rem;
        width: 75%;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.3);
        border: 2px solid #ffffff;
        padding: 3rem 5rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
}

@media (min-width: 768px) { 
    .profile-card {
        box-shadow: 0 18px 200px -60px black;
        border-radius: 5rem;
        width: 65rem;
        position: relative;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.3);
        border: 2px solid #ffffff;
        padding: 3rem 5rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
}

/** Profile card Desc **/

.profile-card__desc {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.profile-card__info {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;  
    gap: 2rem;  
}

@media  (min-width: 768px) { 
    .profile-card__info {
        gap: 5rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;  
    }
} 

.info_position {
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 1.5px;
} 

/** Profile card social **/

.profile-card__social {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    flex-wrap: wrap;
}

.enlace {
    display: flex;
    border-radius: 20%;
    padding: 0.5rem; 
    border: none;
}

 @media (min-width: 768px) { 
     .profile-card__social {
        justify-content: space-between;
        border: none;
    }

    .enlace {
        display: flex;
        justify-content: center;
        border-radius: 20%;
        position: relative;
        flex-shrink: 0;
        transition: ease;
        text-decoration: none;
        border: none;
    }
    .enlace:hover {
        transform: scale(1.1) translateY(-5px);
    }
 }

 .facebook {
    background: linear-gradient(45deg, #3b5998, #0078d7);
    box-shadow: 0 4px 30px rgba(43, 98, 169, 0.5);
 }

 .twitter {
    background: linear-gradient(45deg, #1da1f2, #0e71c8);
    box-shadow: 0 4px 30px rgba(19, 127, 212, 0.7);
 }

 .instagram {
    background: linear-gradient(45deg, #405de6,#5851db, #833ab4, #c13458,  #e1306c, #fd1d1d);
    box-shadow: 0 4px 30px rgba(120, 64, 190, 0.6);
 }

 .github {
    background:  linear-gradient(45deg, #333333, #626b73);
    box-shadow: 0 4px 30px rgba(63, 65, 67, 0.6);
 }

 .twitch {
    background:  #8843F2;
    box-shadow: 0 4px 30px rgba(63, 65, 67, 0.6);
 }


/** Button **/  

@media (max-width: 767px) { 
    .profile-card__actions {
        flex-direction: column; 
        gap: 1.5rem;
    }
}
 .profile-card__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    gap: 2rem;  
 }

 .blue { 
    background: linear-gradient(45deg, #1da1f2, #0e71f2);
    box-shadow: 0 4px 30px rgba(19, 127, 212, 0.4);
    font-weight: bold;
    font-size: 2.2rem;
    padding: 1.5rem ;
    min-width: 25rem;
    border-radius: 5rem;   
    cursor: pointer;
    transition: all .2s;
    border: none;  
 }

 .blue:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 30px rgba(19, 127, 212, 0.7);
 } 

 .orange {
    background: linear-gradient(45deg, #D5135a, #f05924   );
    font-weight: bold;
    font-size: 2.2rem;
    padding: 1.5rem 0;
    min-width: 25rem;
    border-radius: 5rem;   
    cursor: pointer;
    transition: all .2s;
    border: none;
 }

 .orange:hover {
    transform: translateY(-5px);
    box-shadow: 0 7px 30px rgba(223, 45, 70, 0.75);
 } 

 .color {
    color: #ffffff;
 }

